@import "../../assets/style/global";

.login-container {
  background-color: $light-gray;
  width: 100%;
  height: 100%;
  position: fixed;
  padding: 50px 20px;
  @include flex;
  .login-box {
    width: 350px;
    max-width: 100%;
    background-color: $white;
    border-radius: 8px;
    overflow: hidden;
    .head {
      width: 100%;
      @include flex;
      background-color: $black;
      padding: 10px 20px;
      h2 {
        font-weight: 500;
        color: $white;
      }
    }
    .content {
      @include flex;
      padding: 30px 20px 10px;
    }
    .input-items {
      width: 100%;
      @include flex;
      flex-direction: column;
      .input-item {
        margin-bottom: 25px;
        width: 100%;
        @include flex;
      }
      input {
        @include input;
        width: 80%;
      }
      img {
        width: 30px;
        margin-left: 15px;
        transform: translateY(-4px);
      }
      button {
        @include btn-circle($light-green, $dark-green);
        font-size: 18px;
      }
    }
  }
}
