@import "../../assets/style/global";


header {
  height: 50px;
  background-color: $light-gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  @include flex;
  .left-items {
    margin-right: auto;
    height: 100%;
    white-space: nowrap;
    @include flex;
    span {
      display: inline-block;
      height: 70%;
      width: 1px;
      background-color: $dark-gray;
      margin: auto 0;
    }
    img {
      width: 40px;
    }
  }
  .user-info {
    @include flex;
    margin: auto 20px;

    .user-img {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      background-color: $white;
      overflow: hidden;
      margin-left: 15px;
      img {
        width: 100%;
      }
    }
  }
  .settings-icon {
    margin: auto 20px;
    img {
      width: 30px;
      cursor: pointer;
      &:active {
        transform: scale(0.9);
      }
    }
  }
}
.burger-menu {
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  @include flex;
  flex-direction: column;
  transition: 0.6s ease;

  span {
    display: block;
    height: 5px;
    width: 40px;
    border-radius: 10px;
    background-color: $black;
    margin: 3px 0;
    @include trans;
  }
  &:hover {
    span {
      background-color: $dark-gray;
    }
  }
}

//floating box
.floating-box {
  @include box-animate;
  position: absolute;
  top: 65px;
  left: 15px;
  display: none;

  & > div {
    @include flex;
    flex-direction: column;
    background-color: $light-gray;
    border-radius: 8px;
    padding: 25px 10px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.3);
  }
  .btn-settings {
    @include btn-circle($light-purple, $dark-purple);
    margin: 5px auto;
    font-size: 16px;
  }
  .btn-logout {
    @include btn-circle($light-red, $dark-red);
    margin: 5px auto;
    font-size: 16px;
  }
  &::before {
    content: "";
    position: absolute;
    top: -25px;
    left: 5px;
    border: 10px solid transparent;
    border-bottom: 25px solid $light-gray;
  }
}

//settings box
.settings-box {
  @include box;
  @include box-animate;
  box-shadow: 0px 3px 10px rgba($color: #000000, $alpha: 0.3);

  h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  .save-btn {
    @include btn-adv($light-green, $dark-green);
    // margin: 5px auto;
  }
}

//sidebar style
.sidebar {
  transition: 0.8s ease;
  width: 300px;
  max-width: 85%;
  height: 100%;
  top: 50px;
  right: -300px;
  position: fixed;
  background-color: $light-purple;
  padding: 10px 0 30px;
  overflow-y: auto;
  z-index: 16;
  &::-webkit-scrollbar-thumb {
    background-color: $light-green;
  }
  .logo-container {
    @include flex;
    padding: 15px 0;
    margin-bottom: 20px;
    .logo {
      @include flex;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $light-red;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      text-align: center;
      overflow: hidden;
      h1 {
        color: $white;
        font-family: "Cairo", sans-serif;
        font-size: 40px;
      }
      img {
        width: 100%;
      }
    }
  }
  .side-links {
    @include flex;
    flex-direction: column;
    margin-bottom: 50px;
    .link {
      display: block;
      width: 100%;
      position: relative;
      text-align: center;
      // margin: 5px 0;
      padding: 16px 0;
      @include trans;
      cursor: pointer;
      img {
        width: 30px;
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.3;
        @include trans;
      }
      h2 {
        font-size: 18px;
        color: $white;
        font-weight: 400;
        text-align: center;
        @include trans;
      }
      &:hover {
        @extend .active-link;
      }
    }
    .active-link {
      background-color: $dark-purple;
      border-right: 8px solid $light-green;
      h2 {
        font-weight: 500;
      }
      .link-icon {
        opacity: 1;
        width: 40px;
      }
    }
  }
}
.sidebar-active {
  right: 0px;
}
